<% content_for :title do %>
  Corseg
  |
  Editing
  <%= @enrollment.to_s %>
<% end %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-warning fa fa-star"> Add a review</h3>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
    <div class="card-footer">
      <%= link_to 'Show Review', @enrollment %>
      <%= link_to 'Back to course', course_path(@enrollment.course) %>
    </div>
  </div>
</div>